/*-- PsuedoGaming Blog + Personal Website; By Lewis Pettifer --*/

@import url('../css/fonts.css'); /*-- Easier to link this way as opposed to another styleshit being linked on main page, when it mainly acts as an index--*/

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
/*-- Web Theme Colours --*/
--text-gray: #3f4954;
--text-light: #78777a;
--background: #0f0f0f;
--white: #ffffff;
--lightblue: #30B4C5;

/*-- Gradient Theme Colouors --*/
--bluechange: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);


/*-- Font Family; Trialing to understand CSS Variables; May remove later --*/
 --Alata: 'Alata';
 --Roboto: 'Roboto', sans-serif;
}


/* -- Global Class --*/



.flex-row{ /* -- Having this as a global means I can dynamic most elements on command --*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Roboto);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Roboto);
}

h3{
    font-family: var(--Alata);
    font-size: 1.7rem;
}

p{
    color: var(--text-light);
    font-family: var(--Roboto);
}

.container{
    margin: 0 5vw;
}

button.button{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-family: var(--Alata);
    cursor: pointer;
}

span{
    font-family: var(--Roboto);
}

.text-gray{
    color: var(--text-gray);
}
/* --- Navbar --- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;   /* -- Using height and min height to collapse navbar --*/
    min-height: 7.8vh; /* --- Prevents options being hidden; Set at this height to avoid gap between navbar and site header --- */
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav a{
    text-decoration: none;
    color: var(--text-gray);
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

/*-- For breaking down the menu on collapse with mobile screens --*/ 
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .nav-brand{
    text-decoration: none;
    display: block; 
    font-family: var(--Alata);
    float: top;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 31rem;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem; /*-- Using REM as it's a fraction of elements size; will look better and more flexible as apposed to fixed font size --*/
    position: relative;
    font-size: 1.0rem; 
    font-family: var(--Alata);
    text-align: center;
    width: auto;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--lightblue);
    opacity: 1;
    transition: 0.5s;
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    text-decoration: none;
    display: block; 
    font-family: var(--Alata);
}

.nav .social{
    padding: 1rem 0;
}

/*-- Affects icons in navbar specifically --*/
.nav .social i{
    padding: 0 .2rem;
    font-size: 2rem; 

}

.nav .social i:hover{
    color: var(--text-light);
}

/*-- End of NavBar --*/

/*-- Main Page --*/


/*-- Footer --*/

footer.footer{
    height: 100%;
    background: var(--background);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 1rem;
}

footer.footer .container h3{
    color: var(--white);
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div{
    color: var(--white);
    text-decoration: none;
    font-size: 2.5rem;
    padding: 0 .4rem
}

footer.footer .follow div a.bird{
    text-decoration: none;
    color: inherit;
}

footer.footer .follow div a.bird:hover { 
    text-decoration: none;
    color: #1DA1F2; 
}


footer.footer .follow div a.insta{
    text-decoration: none;
    color: inherit;
}

footer.footer .follow div a.insta:hover { 
    text-decoration: none;
    color: #8a3ab9; 
}

footer.footer .follow div a.youtube{
    text-decoration: none;
    color: inherit;
}

footer.footer .follow div a.youtube:hover { 
    text-decoration: none;
    color: #c4302b; 
}

footer.footer .follow div a.github{
    text-decoration: none;
    color: inherit;
}

footer.footer .follow div a.github:hover { 
    text-decoration: none;
    color: #6cc644; 
}




footer.footer .to-top{
    position: absolute;
    top: 33%;
    right: 6%;
}

footer.footer .to-top span{
    color: var(--lightblue);
}

footer.footer .to-top span:hover{
    color: var(--white);
}
/* -- Mobile Shaping --*/


@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }
}

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
        min-height: 8.1vh;                  /* Stops overlap with navbar buttons appearing too early on mobile */
        
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

}


